<div
  class="w-full rounded-2xl py-2 grid place-items-center text-center font-semibold text-2xl bg-brand-900"
>
  <div class="inline-flex text-[white]/85">
    Status:
    <span class="font-extrabold text-[green] contrast-125 ml-2">{status}</span>
  </div>
</div>