<div
  class="rounded-2xl divide-y-2 scale-90 md:scale-100 divide-brand-100/10 gap-4 bg-brand-900 grid place-items-center p-5 aspect-square w-full"
>
  <div>
    <h2 class="text-7xl font-extrabold">{time}</h2>
  </div>
  <div>
    <p class="text-3xl opacity-80 my-2">{caption}</p>
  </div>
</div>