<div class="rounded-2xl divide-y-2 gap-4 divide-brand-100/10 gap-0 bg-brand-900 grid place-items-center p-5 w-full">
  <h2 class="text-5xl my-0 font-extrabold">{{time}}</h2>
  <p class="text-3xl opacity-80 pt-2">{{caption}}</p>
</div>