<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tila Web Dashboard/Status for "{{ tila.domain }}"</title>
  <link rel="stylesheet" href="/global.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="shortcut icon" href="//fav.farm/🌸" type="image/x-icon">
</head>

<body class="select-none py-6 px-4 bg-brand-950">
  <main class="min-h-full w-full">
    {{ components.navbar() | safe }}
    <section class="pt-10 container full-container p-0 flex flex-col gap-6">
      {{ content | safe }}
    </section>
  </main>
  <script>
    new Chart(document.getElementById('uptimeChart'), {
      type: 'line',
      data: {
        labels: [{% for i in uptimeChartData.labels | list %}"{{ i }}",{% endfor %}],
        datasets: [{
          label: "Uptime",
          data: [{{uptimeChartData.data}}]
        }]
      },
      options: {
        borderColor: "#22c55e",
        responsive: true,
        maintainAspectRatio: true,
        aspectRatio: 20 / 5
      }
    });
  </script>
</body>

</html>