<header class="bg-brand-800 shadow-lg rounded-3xl w-full block mx-auto py-5 px-6">
  <nav class="gap-y-4 w-full flex flex-col md:flex-row items-center justify-between">
    <div class="font-bold tracking-tight text-xl grid place-items-center gap-0 md:block"><span
        class="m-0 opacity-80">(✿◕‿◕✿)</span> <br /> Tila Website Panel</div>
    <div class="font-bold tracking-tight text-xl opacity-80">{{ tila.domain }}</div>
  </nav>
</header>